.search__card {
  width: 100%;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: all .3s;
  margin-bottom: 2rem;
  padding: 1rem;
  /* box-shadow: 0 5px 10px #00000017; */
}

/* .search__card::after {
  content: '';
  width: 95%;
  background: #00000017;
  height: 10px;
  margin: auto;
  position: absolute;
  bottom: -3px;
  left: 25px;
  filter: blur(9px);
  z-index: -1;
} */

.search__card .tool {
  animation: 0.1s ease-out 0s 1 fadeInScale;
  color: var(--color-background-primary);
  margin: 5px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  transition: all .3s;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__card .tool:hover{
  transform: scale(1.05);
}
.search__card .tool span{
  padding: 5px 10px;
  font-size: 14px;
  background-color: var(--color-primary);
  border-radius: 4px;
}

.search__card .tool {
  animation: 0.1s ease-out 0s 1 fadeInScale;
  margin: 5px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  transition: all .3s;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__card .tool:hover{
  transform: scale(1.05);
}
.search__card .tool span{
  padding: 5px 10px;
  font-size: 14px;
  background-color: var(--color-primary);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.close-btn {
  height: 100%;
  padding: 5px 3px;
  position: absolute;
  right: -27px;
  top: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.tools-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 27px;
}