
.job__card {
    padding: 20px 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    box-shadow: 0 5px 10px #00000017;
    animation: 0.2s ease-out 0s 1 fadeInScale;
}
.job__card::after {
    content: '';
    width: 95%;
    background: #00000017;
    height: 10px;
    margin: auto;
    position: absolute;
    bottom: -3px;
    left: 25px;
    filter: blur(9px);
    z-index: -1;
}
.job__card--logo{
    margin-right: 20px;
    width: 85px;
    height: 85px;
}
.job__card__company--text{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.job__card__role--text{
    font-size: 18px;
    transition: all .3s;
    font-weight: bold;
}
.job__card__role--text:hover{
    cursor: pointer;
}
.job__card__features--text{
    font-size: 14px;
    font-weight: 300;
}
.job__card__features--text .dot{
    padding: 0 12px;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.5;
}

.job__card--info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.job__card--tools{
    display: flex;
    gap: .5rem;
}
.job__card--tools .tool{
    padding: 5px;
    transition: all .3s;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
.job__card--tools .tool:hover{
    transform: scale(1.05);
}

@media (max-width: 1024px){
    .job__card {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 30px 25px 30px;
        margin-bottom: 3rem;
    }
    .job__card--tools {
        display: flex;
        margin-left: 0;
        flex-wrap: wrap;
        border-top: 1px solid #00000026;
        padding-top: 15px;
        width: 100%;
    }
    .job__card--logo {
        margin-right: 20px;
        position: absolute;
        top: -25px;
        width: 50px;
        height: 50px;
    }
    .job__card--logo img{
        width: 60%;
    }
  }