main{
  display: grid;
  place-items: center;
  margin: 5rem var(--main-custom-margin);
}
.navbar{
  min-height: 156px;
  background-image: url('./assets/images/bg-header-desktop.svg');
  background-color: var(--color-midnight-blue);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem var(--main-custom-margin);
}
.attribution{
  color: var(--color-gray);
}
.navbar__logo{
  width: 200px;
  height: auto;
}

@media (max-width: 1024px){
  main{
    --main-custom-margin: 1rem;
    margin: 5rem var(--main-custom-margin);
  }
  .attribution{
    text-align: center;
  }
}