
.search__input{
  position: relative;
  font-weight: 100;
  transition: all 3s ease-in;
  min-width: 535px;
}

.search__input input::placeholder{
  font-weight: 100;
  font-size: 13px;
}

.search__input input{
  border: none;
  padding: 3px 40px 3px 15px;
  border-radius: .5rem;
  width: 100%;
  font-size: 14px;
}
.search__input input:active,
.search__input input:focus-visible{
  border: none;
  outline: none;
}

.clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.clear-btn h1 {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-primary);
  margin: 0;
}
.clear-btn:hover h1{
  cursor: pointer;
}

@media (max-width: 1024px){

  .search__card{
      height: 100% !important;
      margin-bottom: 3rem;
  }
}



